body{

margin:0;

font-family:Poppins,sans-serif;

background:#F5F3F6;

}



.admin-sidebar{


position:fixed;

width:260px;

height:100vh;

background:#1f1f1f;

padding:30px;


}



.admin-sidebar h2{


color:#ED563B;

}



.admin-sidebar ul{


list-style:none;

padding:0;


}



.admin-sidebar li{


margin:25px 0;


}



.admin-sidebar a{


color:white;

text-decoration:none;


}



.admin-content{


margin-left:300px;

padding:50px;


}



.admin-cards{


display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;


}



.admin-cards div{


background:white;

padding:30px;

border-radius:20px;

text-align:center;


}



.admin-cards p{


font-size:30px;

font-weight:bold;

color:#ED563B;


}