footer {
    background:#121826;
    padding:40px 0;
    color:white;
}


footer h4 {
    color:#ED563B;
    margin-bottom:15px;
}


footer p {
    color:#ffffff;
    font-size:14px;
}


footer hr {
    border-color:#555;
}