.pricewise-header{


background:white;

position:sticky;

top:0;

z-index:1000;

box-shadow:0 3px 15px rgba(0,0,0,.1);


}



.navbar{


display:flex;
justify-content:space-between;
align-items:center;
padding:15px 0;


}



.logo{


display:flex;
align-items:center;
gap:10px;
text-decoration:none;
font-size:28px;
font-weight:700;
color:#ED563B;


}



.logo img{

width:60px;
height:60px;

}



.nav-links{

display:flex;
gap:30px;
list-style:none;

}



.nav-links a{

text-decoration:none;
color:#333;
font-weight:500;

}



.nav-links a:hover{

color:#ED563B;


}


.nav-login a{

background:#ED563B;
color:white;
padding:12px 25px;
border-radius:30px;
text-decoration:none;

}