.products-page{


padding:60px 0;

background:#F5F3F6;


}



.products-page h1{


font-size:40px;

font-weight:700;


}



.filter-box{


display:flex;

gap:15px;

margin:40px 0;


}


.filter-box input,
.filter-box select{

padding:15px;
border-radius:25px;
border:1px solid #ddd;


}


.filter-box input{


flex:1;


}


.filter-box button{

background:#ED563B;
color:white;
border:none;
padding:0 35px;
border-radius:25px;


}


.product-grid{


display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;


}




.product-card{


background:white;
padding:25px;
border-radius:20px;
box-shadow:
0 10px 20px rgba(0,0,0,.08);
transition:.3s;


}




.product-card:hover{


transform:translateY(-8px);


}



.product-card img{


width:100%;

height:220px;

object-fit:contain;


}




.product-card h3{


margin-top:20px;


}


.category{


color:#777;

}


.rating{

margin:15px 0;

}


.compare-btn{


display:block;
background:#ED563B;
color:white;
padding:12px;
text-align:center;
border-radius:25px;
text-decoration:none;


}