.user-footer{


background:#1f1f1f;
color:white;
padding:40px 0;
text-align:center;


}



.user-footer h3{


color:#ED563B;
font-size:30px;


}



.user-footer p{


color:#ccc;

}



.footer-bottom{


margin-top:30px;
color:#999;

}